body {
	--body-background-color: #111117;
	--button-background-color: color-mix(in srgb, var(--body-background-color), white 7%);
	--border-color: #3f3f44;
	--text-color: white;
	--link-color: #66BBEE;

	background-color: var(--body-background-color);
	color: var(--text-color);

	font-family: sans-serif;

	& a {
		&,
		&:visited {
			color: var(--link-color);
		}
	}

	& button,
	& label {
		font-size: 18px;
	}

	& select {
		font-size: 16px;
		padding: 0.2em 0.4em;
	}

	& button,
	& select {
		background-color: var(--button-background-color);
		color: #ddd;
		border: 1px solid var(--border-color);
		border-radius: 0.2em;
	}

	& button {
		padding: 0.3em 0.6em;

		&:active {
			background-color: color-mix(in srgb, var(--body-background-color), white 2%);
			border-color: color-mix(in srgb, var(--border-color), black 25%);
		}
	}

	.hidden {
		display: none !important;
	}

	.transparent {
		opacity: 0 !important;
	}

	.can-be-transparent {
		opacity: 1;
		transition: opacity 150ms ease-in-out;
	}

	> h1 {
		text-align: center;
		margin-top: 1em;

		> p {
			font-size: 0.45em;
			margin-top: 0.2em;
		}
	}

	> h2.loading {
		text-align: center;
		margin-top: 1.2em;
	}

	& .field {
		position: relative;
		margin: 1.4em auto 0;
		width: fit-content;
		user-select: none;

		& .completed-overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			display: flex;
			justify-content: center;
			align-items: center;

			& .container {
				background: color-mix(in srgb, var(--body-background-color), var(--link-color) 5%);
				box-shadow: 0 0 32px 2px black;
				border: 1px solid color-mix(in srgb, var(--body-background-color), var(--link-color) 16%);
				border-radius: 0.5em;

				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
				flex-direction: column;

				min-width: 60%;
				min-height: 30%;
			}
		}

		& .controls {
			display: flex;
			justify-content: space-between;
			margin: 1em 0;

			& .left-part,
			& .right-part {
				display: flex;
				align-items: center;
				gap: 0.4em;
			}
		}

		& table {
			border-collapse: collapse;
			font-size: 2.2em;
			margin: 0 auto;

			--sector-border-width: 5px;

			& tr {
				& td {
					--size: 1.7em;

					box-sizing: border-box;

					text-align: center;
					vertical-align: middle;

					width: var(--size);
					height: var(--size);

					color: color-mix(in srgb, var(--link-color), var(--background-color) 15%);

					--background-color: color-mix(
						in srgb, var(--body-background-color), var(--link-color) 10%
					);
					background-color: var(--background-color);

					--border-color: var(--body-background-color);

					border: 3px solid var(--border-color);

					&.selected {
						background-color: color-mix(in srgb, var(--background-color), var(--link-color) 30%);
					}

					&.pre-filled {
						font-weight: normal;
						color: color-mix(in srgb, var(--text-color), var(--background-color) 20%);
					}

					&.mistake {
						color: red;
					}
				}

				&:nth-child(3n - 2) td {
					border-top-width: var(--sector-border-width);
				}

				&:nth-child(3n) td {
					border-bottom-width: var(--sector-border-width);
				}

				& td:nth-child(3n - 2) {
					border-left-width: var(--sector-border-width);
				}

				& td:nth-child(3n) {
					border-right-width: var(--sector-border-width);
				}
			}
		}

		> .buttons {
			display: flex;
			justify-content: center;
			margin: 1.6em 0;

			& button {
				font-size: 28px;
				margin: 4px;

				--background-color: color-mix(in srgb, var(--body-background-color), var(--link-color) 20%);
				background-color: var(--background-color);
				border-color: color-mix(in srgb, var(--background-color), var(--link-color) 20%);
				color: color-mix(in srgb, white, var(--link-color) 30%);
			}
		}

		> .actions {
			display: flex;
			justify-content: center;
			gap: 0.6em;

			& button {
				font-size: 16px;

				& svg {
					--size: 1.6em;

					display: block;
					margin: 0.2em auto 0.3em;

					width: var(--size);
					height: var(--size);
				}
			}
		}
	}

	> .links {
		margin-top: 2.6em;
		text-align: center;

		& a {
			color: color-mix(in srgb, var(--link-color), grey 60%);
		}
	}
}
