body {
	--body-background-color: #111117;
	--button-background-color: color-mix(in srgb, var(--body-background-color), white 7%);
	--button-text-color: #ddd;
	--border-color: #3f3f44;
	--text-color: white;
	--link-color: #6be;

	background-color: var(--body-background-color);
	color: var(--text-color);

	font-family: sans-serif;

	& a {
		&,
		&:visited {
			color: var(--link-color);
		}
	}

	& button,
	& select,
	& label {
		font-size: 18px;
	}

	& select {
		/* It seems we need for a slightly bigger padding at the top */
		padding: 0.3em 0.4em 0.2em;
	}

	& button,
	& select {
		background-color: var(--button-background-color);
		color: var(--button-text-color);
		border: 1px solid var(--border-color);

		border-radius: 5px;

		&:disabled {
			background-color: color-mix(in srgb, var(--button-background-color), black 30%);
			color: color-mix(in srgb, var(--button-text-color), black 30%);
			border-color: color-mix(in srgb, var(--border-color), black 30%);
		}
	}

	& button {
		padding: 0.3em 0.6em;

		&:active:not(:disabled) {
			background-color: color-mix(in srgb, var(--button-background-color), black 5%);
			color: color-mix(in srgb, var(--button-text-color), black 10%);
			border-color: color-mix(in srgb, var(--border-color), black 15%);
		}
	}

	.hidden {
		display: none !important;
	}

	.transparent {
		opacity: 0 !important;
	}

	.can-be-transparent {
		opacity: 1;
		transition: opacity 150ms ease-in-out;
	}

	> h1 {
		text-align: center;
		margin-top: 1em;

		> p {
			font-size: 0.45em;
			margin-top: 0.2em;
		}
	}

	> h2.loading {
		text-align: center;
		margin-top: 1.2em;
	}

	& .field {
		position: relative;
		margin: 1.4em auto 0;
		width: fit-content;
		user-select: none;

		& .overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			display: flex;
			justify-content: center;
			align-items: center;

			& .container {
				position: relative;

				padding: 1.6em 2em;

				background: color-mix(in srgb, var(--body-background-color), var(--link-color) 5%);
				box-shadow: 0 0 32px 2px black;
				border: 1px solid color-mix(in srgb, var(--body-background-color), var(--link-color) 16%);
				border-radius: 0.5em;
			}

			&.completed {
				& .container {
					display: flex;
					justify-content: center;
					align-items: center;
					text-align: center;
					flex-direction: column;

					min-width: 60%;
					min-height: 30%;
				}
			}

			&.settings {
				& h2 {
					position: relative;
					text-align: center;
					margin: 0 0 1.4em;
				}

				& button.close {
					position: absolute;
					top: 0.6em;
					right: 0.4em;

					background: transparent;
					border: none;

					& svg {
						--size: 1.6em;

						width: var(--size);
						height: var(--size);
					}
				}

				& label {
					display: block;
					margin: 1.2em 0;

					&:last-child {
						margin-bottom: 0.5em;
					}
				}
			}
		}

		& .controls {
			display: flex;
			flex-direction: column;
			gap: 1em;
			margin: 1em 0;

			& .row {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				gap: 1.4em;

				& .column {
					display: flex;
					align-items: center;
					gap: 0.4em;
				}

				&:nth-child(2) {
					display: none;
				}

				@media (width < 650px) {
					justify-content: center;

					&:nth-child(1) .column:nth-child(2) {
						display: none;
					}

					&:nth-child(2) {
						display: flex;
					}
				}
			}
		}

		& table {
			border-collapse: collapse;
			font-size: 2.2em;
			margin: 0 auto;

			--sector-border-width: 5px;

			& tr {
				& td {
					position: relative;
					box-sizing: border-box;

					--size: 1.7em;

					width: var(--size);
					height: var(--size);

					--background-color: color-mix(
						in srgb, var(--body-background-color), var(--link-color) 10%
					);

					background-color: var(--background-color);

					--border-color: var(--body-background-color);

					border: 3px solid var(--border-color);

					--manual-text-color: color-mix(in srgb, var(--link-color), var(--background-color) 15%);

					& .value {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;

						display: flex;
						align-items: center;
						justify-content: center;

						color: var(--manual-text-color);

						&.mistake {
							color: red;
						}
					}

					&.selected {
						background-color: color-mix(in srgb, var(--background-color), var(--link-color) 30%);
					}

					&.pre-filled {
						font-weight: normal;

						& .value {
							color: color-mix(in srgb, var(--text-color), var(--background-color) 20%);
						}
					}

					& .note {
						position: absolute;

						display: flex;
						align-items: center;
						justify-content: center;

						font-size: 0.4em;
						color: color-mix(in srgb, var(--manual-text-color), #aaa);
					}
				}

				&:nth-child(3n - 2) td {
					border-top-width: var(--sector-border-width);
				}

				&:nth-child(3n) td {
					border-bottom-width: var(--sector-border-width);
				}

				& td:nth-child(3n - 2) {
					border-left-width: var(--sector-border-width);
				}

				& td:nth-child(3n) {
					border-right-width: var(--sector-border-width);
				}
			}

			@media (width < 650px) {
				font-size: 1.6em;

				--size: 0.2em;
				--sector-border-width: 4px;

				& tr {
					& td {
						border-width: 2px;
					}
				}
			}
		}

		> .buttons {
			display: flex;
			justify-content: center;
			margin: 1.6em 0;

			& button {
				font-size: 2em;
				margin: 4px;

				--background-color: color-mix(
					in srgb, var(--button-background-color), var(--link-color) 20%
				);
				--color: color-mix(in srgb, var(--button-text-color), var(--link-color) 30%);
				--border-color: color-mix(in srgb, var(--background-color), var(--link-color) 20%);

				background-color: var(--background-color);
				border-color: var(--border-color);
				color: var(--color);

				&.completed {
					visibility: hidden;
				}

				&.selected {
					background-color: color-mix(in srgb, var(--background-color), var(--link-color) 40%);
					border-color: color-mix(in srgb, var(--border-color), var(--text-color) 25%);
					color: color-mix(in srgb, var(--color), var(--text-color) 40%);
				}

				@media (width < 650px) {
					font-size: 1.6em;
					margin: 0.1em;
					padding: 0.3em 0.42em;
				}
			}
		}

		> .actions {
			display: flex;
			justify-content: center;
			gap: 0.6em;

			& button {
				font-size: 16px;

				& svg {
					--size: 1.6em;

					display: block;
					margin: 0.2em auto 0.3em;

					width: var(--size);
					height: var(--size);
				}

				&.notes {
					&.enabled {
						--background-color: color-mix(
							in srgb, var(--body-background-color), var(--link-color) 15%
						);
						--text-color: color-mix(in srgb, white, var(--link-color) 35%);
						--border-color: color-mix(in srgb, var(--background-color), var(--link-color) 20%);

						background-color: var(--background-color);
						border-color: var(--border-color);
						color: var(--text-color);

						&:active:not(:disabled) {
							background-color: color-mix(in srgb, var(--background-color), black 5%);
							color: color-mix(in srgb, var(--text-color), black 10%);
							border-color: color-mix(in srgb, var(--border-color), black 15%);
						}
					}
				}
			}
		}
	}

	> .links {
		margin-top: 2.6em;
		text-align: center;

		& a {
			color: color-mix(in srgb, var(--link-color), grey 60%);
		}
	}
}
