body {
	--body-background-color: #111117;

	background-color: var(--body-background-color);
	color: white;

	& a {
		&,
		&:visited {
			color: #66BBEE;
		}
	}

	.hidden {
		display: none !important;
	}

	> h1 {
		text-align: center;
		margin-top: 0.6em;

		> p {
			font-size: 0.45em;
			margin-top: 0.2em;
		}
	}

	& .field {
		position: relative;
		margin: 1.4em auto 0;
		width: fit-content;

		& table {
			border-collapse: collapse;
			font-size: 2em;

			--border-color: #3f3f44;
			--sector-border-width: 3px;

			& tr {
				& td {
					--size: 2em;

					box-sizing: border-box;

					padding: 0.4em;
					text-align: center;

					width: var(--size);
					height: var(--size);

					/* background-color: var(--body-background-color); */

					border: 1px solid var(--border-color);
				}

				&:nth-child(3n - 2) td {
					border-top-width: var(--sector-border-width);
				}

				&:nth-child(3n) td {
					border-bottom-width: var(--sector-border-width);
				}

				& td:nth-child(3n - 2) {
					border-left-width: var(--sector-border-width);
				}

				& td:nth-child(3n) {
					border-right-width: var(--sector-border-width);
				}
			}
		}
	}
}
